body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
}
body{
    background-color: gray;
    display:table-cell;
    vertical-align:middle;
}
form , h1{
    display:table;/* shrinks to fit content */
    margin:auto;
}
fieldset {
    padding: 84px;
    border: 8px solid black;
}
span.pwd{
    padding-top: 100px;
}