<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel | Room View</title>
</head>
<body>
    <table>
        <tr>
            <th>Room Number</th>
            <th>Name</th>
            <th>Bed Info</th>
        </tr>
<!--        <tr th:each="room:${rooms}">-->
<!--            <td th:text="${room.number}"></td>-->
<!--            <td th:text="${room.name}"></td>-->
<!--            <td th:text="${room.info}"></td>-->
<!--        </tr>-->
    </table>
</body>
</html>